/***** base styles *****/
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

  textarea {
    resize: vertical;
}
  html {
  	font-size: 16px;
}

body {
  height: 45%;
  /*display:flex;*/
  justify-content: center;
  background: linear-gradient(-45deg, #15b393, #7fb381, #7fb2b3,#8250e6);
  background-size: 400% 400%;
  animation: gradient 22s ease infinite;
  font-family: 'Josefin Sans', sans-serif;


}

header {
  height:120px;
}

.full-width {
  display: flex;
  width:1000px;
  margin: 0 auto;
}

nav {
  float: right;
  display:inline-block;
  margin-right: 10%;
/*  padding: 1em; */
}

nav ul li {
  text-decoration: none;
  font-size: 1.7em;
  display:flex;
  color: #2e4733;
  float: right;
  padding-left: 23px;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  display: flex;
}

nav ul li a {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  padding-left: 25px;
  padding-right: 30px;
}

 .title {
  display:flex;
  justify-content:space-between;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
    color: #2e4733;
  padding:3em;
}

  .about {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  float:left; *
}

.myface {
  display:flex;
  float:right;
  resize:inherit;
  opacity: 60%;
  padding-left: 8%;
  padding-right:15%;
}

img {
   -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
